.cache
.DS_Store
.idea
*.log
*.tgz
coverage
docs/.vitepress/dist
# dist files must be committed for GitHub Actions to work
lib-cov
logs
node_modules
temp
docs/.vitepress/cache
test-artifacts/
test-glob.ts
pantry